.button{
  display: inline-block;
  border: 2.5px solid #070707;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: white;
  cursor: pointer;
  &_black{
    background-color: #070707;
  }
  &__text{
    display: inline-block;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    padding: 10px 19px;
    &_white{
      color: #FFFFFF;
      padding: 10px 29px;
    }
  }
}