
body {
  font-family: Gilroy;
}

a { 
  text-decoration: none; 
}

html { 
  box-sizing: border-box; 
}
*,
*::before, 
*::after { 
  box-sizing: inherit; 
}

img { 
  max-width: 100%; 
}

.hidden{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 20px;
}

// Подключение компонентов
@import "./button/button";
@import "./link/link";
@import "./header/header";
@import "./footer/footer";

@font-face{
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?iefix') format('eot'),
  url('../fonts/Gilroy-Regular.woff') format('woff'),
  url('../fontsGilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.eot');
  src: url('../fonts/Gilroy-Bold.eot?iefix') format('eot'),
  url('../fonts/Gilroy-Bold.woff') format('woff'),
  url('../fontsGilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

